@font-face {
  font-family: Roboto-ali;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Roboto-ali;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: Roboto-ali;
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 800; }
:root {
  font-size: 16px; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, input,
button,
textarea, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: Roboto-ali, sans-serif; }

body, input,
button,
textarea, input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: Roboto-ali, sans-serif; }

body, input,
button,
textarea, input::placeholder,
textarea::placeholder {
  font-family: Roboto-ali, sans-serif; }

body {
  min-width: 320px;
  line-height: 1.75;
  color: #ffffff; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

button {
  cursor: pointer; }

input,
button,
textarea {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 200;
  border-radius: .5rem;
  font-size: 1rem;
  text-transform: capitalize; }

input,
textarea {
  padding: .6rem 1.25rem; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #fff;
    font-weight: 200; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #fff;
    font-weight: 200; }
  input::placeholder,
  textarea::placeholder {
    color: #fff;
    font-weight: 200; }

h1,
h2,
h3,
.footer-title {
  text-transform: capitalize;
  font-weight: 200;
  line-height: 1.3; }

b {
  font-weight: 800; }

h2 {
  font-size: 1.5rem; }

h3,
.footer-title {
  font-size: 3rem;
  margin-bottom: 2rem; }

.content-box {
  padding: 3.75rem; }

.button {
  text-decoration: none;
  color: inherit;
  margin-top: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  height: 3.125rem;
  padding: 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: .5rem;
  text-transform: capitalize; }
  .button:hover {
    background-color: #fff;
    color: #262f32; }
  .button.button-dark {
    border-color: #262f32;
    color: #262f32; }
    .button.button-dark:hover {
      background-color: #262f32;
      color: #fff; }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.main-header {
  color: #262f32;
  display: grid;
  grid-template-areas: 'hl hl hl hl hl hl hr hr hr';
  grid-template-columns: repeat(9, 1fr);
  min-height: 44.6875rem; }
  .main-header .header-left {
    grid-area: hl; }
  .main-header .header-right {
    grid-area: hr; }
    .main-header .header-right .menu-button {
      height: 35px;
      width: 35px; }
    .main-header .header-right h1 {
      padding: 4.3rem 0 4rem;
      font-size: 2.5rem;
      line-height: 1.5; }
      .main-header .header-right h1 b,
      .main-header .header-right h1 span {
        display: block; }
      .main-header .header-right h1 span {
        font-weight: 400; }
    .main-header .header-right p {
      font-size: 1.125rem; }
      .main-header .header-right p + p {
        margin-top: 2.2rem; }

.main-content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 'sk sk sk sk st st st st st' 'sk sk sk sk dm dm dm dm dm'; }
  .main-content .skills {
    grid-area: sk; }
    .main-content .skills .skills-item + .skills-item {
      margin-top: 4rem; }
  .main-content .starting {
    grid-area: st;
    color: #262f32; }
  .main-content .dummy {
    grid-area: dm; }

.main-footer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 'fl fl fl fr fr fr fr fr fr'; }
  .main-footer .footer-left {
    grid-area: fl;
    display: grid;
    -ms-flex-line-pack: justify;
        align-content: space-between; }
    .main-footer .footer-left .footer-logo {
      max-width: 90px;
      margin-bottom: 2.5rem; }
    .main-footer .footer-left .ali-sayed {
      font-weight: 800;
      font-size: 2.5rem;
      text-transform: capitalize; }
      .main-footer .footer-left .ali-sayed span {
        display: block;
        font-weight: 400;
        font-size: 1rem; }
  .main-footer .footer-right {
    grid-area: fr; }
    .main-footer .footer-right form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem 1rem;
      margin-bottom: 5.625rem; }
      .main-footer .footer-right form input {
        height: 3.125rem; }
      .main-footer .footer-right form textarea {
        height: 12.25rem;
        grid-column: 1 / 3;
        resize: none; }
      .main-footer .footer-right form textarea,
      .main-footer .footer-right form input {
        background-color: rgba(52, 95, 97, 0.2);
        -webkit-transition: background-color .3s ease;
        transition: background-color .3s ease;
        width: 100%; }
        .main-footer .footer-right form textarea:focus,
        .main-footer .footer-right form input:focus {
          background-color: rgba(34, 62, 64, 0.2); }
    .main-footer .footer-right .social-info .social-icons {
      display: grid;
      grid-template-columns: repeat(3, auto);
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      grid-column-gap: .8rem;
      margin: 1.5rem 0 2.5rem; }
      .main-footer .footer-right .social-info .social-icons .icon {
        width: 45px; }

@media only screen and (max-width: 1199px) {
  .content-box {
    padding: 2.5rem; }

  h3,
  .footer-title {
    font-size: 2.3rem;
    margin-bottom: 1.8rem; }

  .main-header {
    min-height: 32rem;
    grid-template-areas: 'hl hl hl hl hl hr hr hr hr'; }
    .main-header .header-right h1 {
      padding: 3rem 0 2.8rem; }
    .main-header .header-right p + p {
      margin-top: 1.8rem; }

  .main-footer .footer-left {
    grid-area: fl;
    display: grid;
    -ms-flex-line-pack: justify;
        align-content: space-between; }
    .main-footer .footer-left .footer-logo {
      max-width: 80px;
      margin-bottom: 2.2rem; }
    .main-footer .footer-left .ali-sayed {
      font-size: 2.2rem; } }
@media only screen and (max-width: 991px) {
  :root {
    font-style: 14px; }

  body {
    line-height: 1.5; }

  h3,
  .footer-title {
    font-size: 1.8rem;
    margin-bottom: 1.3rem; }

  .content-box {
    padding: 1.8rem; }

  .main-header {
    min-height: 27rem;
    grid-template-areas: 'hl hl hl hl hl hr hr hr hr'; }
    .main-header .header-right h1 {
      padding: 2rem 0 1.4rem;
      font-size: 1.8rem;
      line-height: 1.4; }
    .main-header .header-right p {
      font-size: 1rem; }
      .main-header .header-right p + p {
        margin-top: 1.8rem; } }
@media only screen and (max-width: 767px) {
  .content-box {
    padding: 2rem 1rem; }

  .button {
    height: 2.8rem; }

  .main-header {
    grid-template-areas: 'hl' 'hr';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; }
    .main-header .header-left {
      grid-area: hl;
      height: 40vh; }
    .main-header .header-right {
      grid-area: hr; }
      .main-header .header-right .menu-button {
        height: 25px;
        width: 25px; }
      .main-header .header-right h1 {
        padding: 1.52rem 0 1rem; }

  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'sk' 'st' 'dm'; }
    .main-content .skills {
      grid-area: sk; }
      .main-content .skills .skills-item + .skills-item {
        margin-top: 4rem; }
    .main-content .starting {
      grid-area: st;
      color: #262f32; }
    .main-content .dummy {
      grid-area: dm; }

  .main-footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'fr' 'fl'; }
    .main-footer .footer-left .footer-title {
      margin-bottom: 3rem; }
    .main-footer .footer-left .footer-logo {
      max-width: 60px;
      margin-bottom: 1.5rem; }
    .main-footer .footer-left .ali-sayed {
      font-size: 2rem; }
    .main-footer .footer-right {
      grid-area: fr; }
      .main-footer .footer-right form input {
        height: 2.8rem; }
      .main-footer .footer-right form textarea {
        height: 10rem; }
      .main-footer .footer-right .social-info .social-icons .icon {
        width: 35px; } }
